/* Update your CSS file or add to existing styles */

.edit-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px; /* space between each form group */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  /* src/App.css */

.app-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  button {
    padding: 10px 20px;
    margin: 20px 10px; /* Adjusted margin for more space between buttons */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  .process-btn {
    margin-right: 20px; /* Space between the Process Images button and the next element */
  }
  
  .edit-btn {
    margin-left: 20px; /* Space between the Edit Details button and the previous element */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #d9534f;
    margin-bottom: 20px;
  }
  
  .ocr-result {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .history {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .history ul {
    list-style-type: none;
    padding: 0;
  }
  
  .history li {
    margin: 10px 0;
  }
  
  /* Added styles for date selection and filter button */
  .date-selection-button {
    margin-right: 10px; /* Space between date selection button and filter button */
  }
  
  .filter-button {
    margin-left: 10px; /* Space between date selection button and filter button */
  }
  
  /* Update your CSS file or add to existing styles */
  
  .edit-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px; /* space between each form group */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.filter-btn{
    margin-top:10px;
    margin-right:10px;
}  
.date{
    margin-right: 10px;
}
.filter-status{
    margin-left:10px;
    margin-right: 10px;
}
